body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ffc0cb, #ffe4e1);
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.contenedor {
  margin-top: 20vh;
}

h1 {
  font-size: 2.5em;
  color: #b22222;
}

.frase {
  font-size: 1.5em;
  margin-top: 20px;
  color: #444;
  animation: aparecer 3s ease-in-out infinite;
}

@keyframes aparecer {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
